body {
    font-family: sans-serif;
    color: white;
    background-image: url("http://www.planwallpaper.com/static/images/cool_wooden_wall_1920x1200_cool_twitter_backgrounds.jpg");
    margin-top: 75px;
  
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}


#table
{
margin-left:300px;
width:55%;



}
article
{

padding-left:270px;
}

ul
{
 margin-left:560px;
}
li
{
    color: white;
 border-radius: 25px;
float:left;
list-style-type:none;
padding:5px;
border:1px solid black;
}
li:hover
{
border:2px solid black;
}